
.twitter-trends-widget .hashcloud a {
    float: left;
    color: #fff !important;
    font-size: 11px !important;
    padding: 5px 7px;
    background: #666;
    margin: 0 6px 6px 0;
	text-decoration: none;

    transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
}

.twitter-trends-widget .hashcloud a:hover {
    background: #fc7100;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}